<h3>Send with the following contents.</h3>
<%= form_with(model: @tweeet, url: tweeets_path, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :tweeet %>
  <p>title:<%= @tweeet.title %></p>
  <p>content:<%= @tweeet.tweeet %></p>
  <%= form.submit  "confirm" %>
  <%= link_to 'Back', new_tweeet_path %>
<% end %>
